.App {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .board {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  
  .column {
    display: flex;
    flex-direction: column-reverse; /* To start filling from bottom */
    padding: 5px;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(228, 247, 245);
    margin: 3px;
    border: 1px solid black;
  }
  
  .cell.red {
    background-color: red;
  }
  
  .cell.blue {
    background-color: blue;
  }